[2017-11-22 20:32] WorksOfLiam opened #1 "Improve password security"
https://stackoverflow.com/a/12657970/4763757

[2017-11-28 18:19] #1 closed

[2017-11-29 14:22] NathanielACollier opened #4 "Build with vs2017 cannot import the following key file Idle.pfx"
I think there is something I'm just not understanding and not a problem with the actual code.  When I first pulled down the repo before Thanksgiving I think I was able to build it.  This week though I can't get past not being able to build with errors about Idle.pfx.  Below are the errors.

`1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Microsoft.Common.CurrentV

[2017-11-29 14:30] worksofliam commented on #4
Hey @NathanielACollier

Generally you won't need to worry about this. I use it when I publish the app.

To fix this:
1. go into the project properties within Visual Studio (Project -> ILEditor Properties...),
2. select Signing on the left
3. untick 'Sign the assembly' and build again.

![image](https://user-images.githubusercontent.com/3708366/33380050-c05b8962-d511-11e7-9f37-2e9f547cc3a2.png)

Le

[2017-12-01 00:04] worksofliam commented on #4
@NathanielACollier Did this resolve your issue?

[2017-12-01 00:06] WorksOfLiam opened #5 "Project rename [help wanted]"
Hi

Idle needs to be renamed. I have been putting it off for months, but since I am not a Python developer I never realised that the Python IDE is actually called IDLE as well - this is a bit of an issue.

I need help with name suggestions, so please share some ideas if you have any.

Cheers,
Liam

[2017-12-01 12:59] NathanielACollier commented on #5
Here are some.  I don't know how trademarks would affect any of this, so I'm going to put that out there...

ILEEdit

iEdit

[2017-12-01 13:13] soberteq commented on #5
Ally, Shapr, DevMate (just anything with Mate, for some reason)

[2017-12-01 17:54] jordiwes commented on #5
Ladle :)

[2017-12-01 21:03] forstie commented on #5
iEdit

[2017-12-01 21:16] RandleBR commented on #5
+1 Ladle !

[2017-12-03 02:52] worksofliam commented on #5
Thanks all for the replies - looks like I may use ILEditor - which is a mix of ILEEdit and iEdit.

ILEditor was actually the original name for the project, so should be a matter of only changing a few things.

I will close this issue when all the changes have been put in place - including changes to the website:

[done] worksofbarry.com/idle will redirect to worksofbarry.com/ileditor
[done] The Id

[2017-12-03 03:20] worksofliam commented on #5
All the tasks are done.

There is now a new installer, a new URL + a redirect from the old & all text in the application has been fixed to use ILEditor.

Cheers!

[2017-12-03 03:20] #5 closed

[2017-12-03 22:04] WorksOfLiam opened #8 "Generate documentation from source"
I would like to see if it's possible to generate documentation based on comments. I'd either like to follow the JavaDoc syntax or something simiular to how C# is documented.

https://docs.microsoft.com/en-us/dotnet/csharp/codedoc

[2017-12-05 19:30] #4 closed

[2017-12-06 20:17] WorksOfLiam opened #9 "Fixed-to-free file definitions"
Converting fixed-format file specs is not currently supported because I am not a pro a fixed-format file specs.

If anyone could help write the logic, it would be much appreciated!

For future reference:

1. [Code starts here](https://github.com/WorksOfBarry/ILEditor/blob/master/ILEditor/Classes/LanguageTools/RPGParser.cs#L50)
2. Would require a `case 'F':`

[2017-12-06 20:18] WorksOfLiam opened #10 "DDS to SQL/DDL"
Would be neat to write a DDS to DDL/SQL converter.

[2017-12-06 20:29] worksofliam commented on #10
Turns out we could just use the existing `QSYS2.GENERATE_SQL` procedure.

- http://www.rpgpgm.com/2015/05/converting-dds-files-to-sql-ddl-using.html
- https://www.ibm.com/developerworks/community/wikis/home?lang=en#!/wiki/IBM%20i%20Technology%20Updates/page/QSYS2.GENERATE_SQL()%20procedure
- https://www.ibm.com/support/knowledgecenter/en/ssw_ibm_i_72/rzajq/rzajqprocgensql.htm

[2017-12-06 21:03] NathanielACollier opened #11 "SEU Line Commands"
While I've only briefly been exposed to the SEU line commands, I've seen alot of people at the company I work at use them.  Being able to do both the single line commands, and block commands seems like it would be really useful.  For a list of all the commands I found this:
 https://as400iseries.wordpress.com/2013/03/13/using-the-seu-editor/.

For implementing it would need to start with how to en

[2017-12-06 22:10] worksofliam commented on #11
It might be worth asking on StackOverflow using the `avalonedit` tag to see how feasible this is.

Edit: https://stackoverflow.com/questions/47684332/turn-line-numbers-into-textboxes

[2017-12-06 22:46] worksofliam commented on #11
One of the comments from the SO question was

[2017-12-07 14:59] NathanielACollier commented on #11
I think I've made major progress on this, and I think that stack overflow guy is wrong about control templates.  I think we need Adorners.  What I've been able to do so far with rushing for time is make a button on every line number that shows the line number and is clickable.  This is a huge step I think because I can associate a interactive control with a line number, and now it's just doing the

[2017-12-07 21:26] worksofliam commented on #10
Instead of parsing and generating output, we instead allow the user to specify a DB object and then we call `GENERATE_SQL()` instead.

[2017-12-07 21:26] #10 closed

[2017-12-07 23:31] worksofliam commented on #11
@NathanielACollier Shall I leave it for you to implement the UI peace and maybe I could work on implementing the commands?

May I also note that I think if the user presses the left arrow key while in column 0 (the start of the line) it should perform a click on the margin button (you mentioned the line number would be clickable)

Thanks!

[2017-12-08 02:06] WorksOfLiam opened #12 "Improvements to Dark Mode highlighting"
The highlighting for dark mode is kind of ugly for CPP and COBOL!!

[2017-12-08 14:25] NathanielACollier commented on #11
I'll work on the UI.

That arrow key is exactly what I was thinking.  I was thinking that this morning.  To start out my goal is those buttons to look right and show line number, then you click and it turns into a textbox (Maybe escape key or something turns it back into button, could also be dispatcher timer based, maybe both) and uses data context to keep up with which ones have commands in them

[2017-12-09 15:25] worksofliam commented on #9
https://www.ibm.com/support/knowledgecenter/en/ssw_ibm_i_73/rzasd/fdsent.htm#fdsent
http://www.rpgpgm.com/2014/02/file-definition-in-rpg-all-free.html

[2017-12-10 13:41] WorksOfLiam opened #14 "Multilingual support"
Should we work on adding multilingual support?

https://www.codeproject.com/Tips/580043/How-to-make-a-multi-language-application-in-Csharp

[2017-12-10 16:09] WorksOfLiam opened #15 "Move save and saveas into source member"
Time to move the save and save as into the sourceEditor class.

[2017-12-10 16:11] #15 closed

[2017-12-13 17:43] NathanielACollier commented on #11
I've changed the way it displays.  It seems to me like the command should be next to the line number.  Now it displays a textbox next to line number.  I've typed the word "hat" next to line 1.

![a](https://user-images.githubusercontent.com/4021526/33953487-b6a6e6a2-dffa-11e7-99d5-fcd66c79a44e.png)

[2017-12-13 18:04] worksofliam commented on #11
@NathanielACollier It is possible we could remove the grey outline around the textboxs? So it kind of looks like this? (IMO)

![image](https://user-images.githubusercontent.com/3708366/33954377-01324466-e030-11e7-8348-3a72180714c3.png)

[2017-12-13 18:09] WorksOfLiam opened #16 "Plugin System"
I want to create a plugin system so people can integrate their own ideas or products into the editor.

Plugin DLL should expose

- `string Name`
- `string DisplayName`
- `void OnPluginSelected` - when selected from the toolbox

[2017-12-13 20:32] NathanielACollier commented on #11
Maybe, I will look into that.  Maybe that's the part that when you hover it's a textbox, and when you don't it's text.  I know I could switch them, I'll see what that looks like.

[2017-12-13 20:35] worksofliam commented on #16
Done.

Next step is to make it so the plugins can add `UserControl` to `editortabsleft`.

[2017-12-13 21:02] worksofliam commented on #16
Basically, certain events will return a `UserControl` which will be added to the form.

For example, `OnPluginSelected` returns `UserControl`, which will be added to `editortabsleft`. If it's null, it will not be added.

Next, `OnMemberOpening` will also return `UserControl`, which will determine what to do with a member. If it returns `null`, it will continue as normal and open in a source view.

[2017-12-15 10:35] #16 closed

[2017-12-15 10:37] WorksOfLiam opened #17 "CODECOV integration"
Turns out it is possible to call CODECOV to generate code coverage information - ILEditor just needs to be able to display this information.

![image](https://user-images.githubusercontent.com/3708366/34038317-ded422cc-e183-11e7-901c-41d5561e5c4e.png)

I not currently have these PTFs, but when I do this will be one of the tasks I focus on.

[2017-12-15 10:38] worksofliam commented on #17
More information about CODECOV (IBM slides)

[Command Line Code Coverage.pdf](https://github.com/WorksOfBarry/ILEditor/files/1562399/Command.Line.Code.Coverage.pdf)

[2017-12-15 14:06] NathanielACollier commented on #11
I think if you mouse over line number, it will show textbox to side.  If you enter a command and focus leaves the textbox it will turn into a label.  I'm going to work on implementing this.  Then I'll put screen shots in stages so the idea is better presented.

However if you hit enter in the textbox that become visible, then the command event would happen so that code is able to run based on comm

[2017-12-19 17:41] WorksOfLiam opened #18 "Snippets"
It might be cool to add snippets to insert statements to save a bit of time perhaps?

http://community.sharpdevelop.net/forums/t/12076.aspx

Opinions on snippets?

[2017-12-26 17:44] WorksOfLiam opened #19 "Turn off always on top on Host Select"
Urgent

[2017-12-27 13:58] #19 closed

[2017-12-28 01:37] WorksOfLiam opened #20 "Ability to create SPF"
Ability to create SPF from File->New

[2017-12-28 02:39] #20 closed

[2018-01-02 10:13] prsbrc commented on #14
Yes, please. Because for me here in Austria it's sometimes necessary to write some comments in local language (with ä/ö/ü/ß etc)

[2018-01-02 11:55] worksofliam commented on #14
@prsbrc What happens when you use those characters and save the source? Do they retain or not?

[2018-01-02 12:50] prsbrc commented on #14
![ileeditor](https://user-images.githubusercontent.com/31685593/34484244-bdb45262-efc3-11e7-9cb5-e85566b7b201.png)
![seu](https://user-images.githubusercontent.com/31685593/34484245-bdce4dd4-efc3-11e7-8baa-7b6f50a42be4.png)

Hey, yes they retain in my source.
I think this is only a conversion-problem between the program and the src-pf ccsid (1141)

[2018-01-02 13:06] worksofliam commented on #14
@prsbrc

I did a simple test and created a SRC-PF with CCSID(273) - I also changed my 5250 window to use 273 and it looks like it's converter okay to me.

![image](https://user-images.githubusercontent.com/3708366/34484622-c581518a-efbd-11e7-8d48-4c0699b61a2a.png)

![image](https://user-images.githubusercontent.com/3708366/34484599-96aeb2bc-efbd-11e7-8f6c-64798c350ccd.png)

[2018-01-02 13:37] prsbrc commented on #14
Hmmm... the only thing i can say is that i've got an src-pf with ccsid 1141 and if i type my "ü" into the ileEditor in src-pf the ü was converted to the "letter-salad" i've posted above :-)

[2018-01-02 13:39] worksofliam commented on #14
Oh, that is very odd. Can you confirm that your host session is in CCSID 1141?

[2018-01-02 13:47] prsbrc commented on #14
Yes, i can confirm this. My host session ccsid is 1141, system ccsid is 1141 and of corse the src-pf is also 1141  :-)

[2018-01-02 13:49] prsbrc commented on #14
![ws](https://user-images.githubusercontent.com/31685593/34485670-1099bd66-efcc-11e7-816a-98abd65444b6.png)

[2018-01-02 14:03] worksofliam commented on #14
Okay, I have recreated the problem. Not sure how something like this happens when there is only a 1 character difference between 273 and 1141 :)

![image](https://user-images.githubusercontent.com/3708366/34485832-6a89067c-efc4-11e7-8aac-a288ad0197aa.png)

Looks like it could be converting the two byte character from Windows to two separate bytes on IBM i when uploading.

[2018-01-02 14:08] worksofliam commented on #14
Current work around: use the actual hex code for the value in your RPG, which I think is:

* `x'FC'` for `ü` (lowercase)
* `x'DC'` for `Ü` (uppercase)

For example: `mychar = 'Hi' + x'FC' + 'there';`

[2018-01-02 14:26] worksofliam commented on #14
Note to self: C# can handle converting to EBCDIC. It may be worth converting the source locally and then uploading the output from the conversion.

https://msdn.microsoft.com/en-us/library/system.text.encodinginfo.getencoding(v=vs.110).aspx

[2018-01-02 15:30] prsbrc commented on #14
Thx for trying to fix it :-)

[2018-01-02 16:55] worksofliam commented on #14
Okay, so the issue is that the file is uploading as ASCII only - there is no way to change the way FTP works.

That means, these are the current valid characters (basically no accents available):
![image](https://user-images.githubusercontent.com/3708366/34491847-03565824-efdd-11e7-8661-9be400a8f21a.png)

What can change is ILEditor. To support the users code page, we must transfer everything in b

[2018-01-02 17:24] worksofliam commented on #14
@prsbrc Good news! You can ignore all of that, because it turns out IBM i FTP support ASCII Extended and I just wasn't using ASCII extended.

It's taken two lines of code to fix this issue!! Will get a commit and release out for you tonight.

[2018-01-02 18:39] prsbrc commented on #14
Great job. Will try it tomorow :)

[2018-01-02 19:25] worksofliam commented on #14
The commit is in and a release has been made. Please retest and reopen if the issue persists.

[2018-01-03 06:27] prsbrc commented on #14
Hey. Write to the IBMi works fine but when i load a source from the IBMi it don't convert correctly:
![iledit](https://user-images.githubusercontent.com/31685593/34515343-00656f20-f072-11e7-90a8-e457cfd1b89b.png)
![seu](https://user-images.githubusercontent.com/31685593/34515344-009cb69c-f072-11e7-8889-a9c06edf0895.png)

[2018-01-03 10:42] worksofliam commented on #14
@prsbrc A temp release has been made. I forgot to make it read the file in the correct encoding! Please let me know if this works or not.

[2018-01-03 12:27] prsbrc commented on #14
Hey, thanks. This temp-release works fine :-)

[2018-01-03 17:53] worksofliam commented on #14
@prsbrc Great, thanks!

Closing as fixed in cad8e73c9baa7ef8990160bef4bad22b70d866ad.

[2018-01-03 17:53] #14 closed

[2018-01-04 19:48] NathanielACollier commented on #11
I think this works pretty well.  I'm calling the textbox visible as command entry mode, and the other case as just line number visible or an unexecuted command visible.

Normal line number display continues to look like this:
![image](https://user-images.githubusercontent.com/4021526/34581261-71bd1a9a-f155-11e7-8bef-33fc8880535d.png)

Then if you click line 3 it will focus the now displayed textbo

[2018-01-05 01:59] worksofliam commented on #11
@NathanielACollier The progress is totally awesome. Can't wait to try it out!

[2018-01-06 16:45] bdietz400 commented on #8
this is server side documentation.  http://systemideveloper.com/downloadRPGLEDOC.html
maybe something to help?

[2018-01-10 07:28] prsbrc opened #21 "No members found"
Good Morning.
Since last update i can't fetch any members :-(
![tree_browser](https://user-images.githubusercontent.com/31685593/34760393-f6660f7a-f5df-11e7-9336-8fc661fe5935.png)
Joblog from the ftp-job is in german but shows no error.

[2018-01-10 12:26] worksofliam commented on #21
@prsbrc Sorry this is happening to you. I cannot re-create it. Instead I have added something so you can access the FTP log.

1. Try and open the source-physical file again in the Tree Browser
2. Open the FTP Log by going to Help->Session FTP Log
3. Paste the contents of the opened document here so I can see the problem.

Cheers!

[2018-01-10 13:06] prsbrc commented on #21
Hey.

Here we go :-)

greets
Christian

[2018-01-10 13:12] worksofliam commented on #21
@prsbrc Are you able to see if this file exists? Can you also paste the content of it here if it does?

`C:\Users\DV0109\AppData\Roaming\ILEditor\S44C0107\QTEMP\QRPGLESRC\QRPGLESRC.mbr`

Cheers,
Liam

[2018-01-10 13:18] prsbrc commented on #21
Yes, wait a minute ... ahm this file is empty

[2018-01-10 13:22] prsbrc commented on #21
[0110T1422.txt](https://github.com/WorksOfBarry/ILEditor/files/1618912/0110T1422.txt)

[2018-01-10 13:25] worksofliam commented on #21
@prsbrc I have released another fix to print more information when downloading a file. Can you repeat the FTP Log steps:

1. Try and open the source-physical file again in the Tree Browser
2. Open the FTP Log by going to Help->Session FTP Log
3. Paste the contents of the opened document here so I can see the problem.

Cheers

[2018-01-10 13:27] prsbrc commented on #21
[0110T1422.txt](https://github.com/WorksOfBarry/ILEditor/files/1618930/0110T1422.txt)

[2018-01-10 13:36] worksofliam commented on #21
@prsbrc I have released yet *another* change to the log file. Can you repeat the steps one more time? :)

1. Restart ILEditor and update
2. Try and open the source-physical file again in the Tree Browser
3. Open the FTP Log by going to Help->Session FTP Log
4. Paste the contents of the opened document here so I can see the problem.

Cheers!
Liam

[2018-01-10 13:40] prsbrc commented on #21
So, i have done the update and repeat the tree-browser:
[0110T1437.txt](https://github.com/WorksOfBarry/ILEditor/files/1618955/0110T1437.txt)
![mbr](https://user-images.githubusercontent.com/31685593/34775634-26e75904-f614-11e7-977d-21041dec467e.png)

[2018-01-10 13:46] worksofliam commented on #21
@prsbrc

Looks like there is something causing a hang in the new FTP library we are using. I am assuming this because if you compare our files at the bottom:

Your file:
[code]

My file:
[code]

They are different. Looks like yours is not even printing anything useful. Am I able to gain access to this system (or a similar one) to try and recreate?

Liam

[2018-01-10 14:08] prsbrc commented on #21
Sorry, there is no direct way to connect from outside.
Maximum via TeamViewer and my PC :-)
Maybe tomorrow?

[2018-01-10 14:13] worksofliam commented on #21
@prsbrc One last thing to check might be this in Windows:

![image](https://user-images.githubusercontent.com/3708366/34776929-749e79c4-f610-11e7-9036-8e6efcff9b8d.png)

Edit: Just disabled it and it made no difference. Ignore this

[2018-01-10 14:36] prsbrc commented on #21
My windoofs-firewall is deactiveted :-)
Manual ftp from dos-box runs perfect

[2018-01-10 14:46] worksofliam commented on #21
I am assuming it might be a CCSID issue - so until I can get access to a system with CCSID 273 I cannot fix it in anyway :(

I will revert back to the working version and move this new stuff to a branch to fix it for you.

[2018-01-10 14:51] prsbrc commented on #21
Thanks a lot. Maybe when the pub400 is back online :-) ?
Greets
Christian

[2018-01-10 14:55] worksofliam commented on #21
@prsbrc Restart and download the latest update. It's back to the normal code base now.

I have moved the code I was working on out of the `master` branch into [`newgtp`](https://github.com/WorksOfBarry/ILEditor/tree/newgtp).

I am very excited for when pub400 is back up :)

[2018-01-10 14:55] #21 closed

[2018-01-14 13:20] WorksOfLiam opened #23 "Next Stable Release (29/01/18)"
The master is many commits ahead of next release. Some people have said that this build will not work. Please try this build and raise an issue with your problem.

Next release includes a new FTP library which improves performance and security with FTPES (with setup on IBM i required). This is the largest back-end change in a while. We will be releasing this on Saturday 27th of January, so please

[2018-01-14 13:31] worksofliam commented on #9
https://www.ibm.com/support/knowledgecenter/ssw_ibm_i_73/rzasd/freefileusage.htm

[2018-01-18 12:07] WorksOfLiam opened #24 "Use application data folder and not APPDATA"
Some people do not have access to APPDATA it seems. Please fix this by using the application data directory as mentioned in the following SO answer:

https://stackoverflow.com/a/867493/4763757

[2018-01-18 14:53] #23 closed

[2018-01-18 22:53] worksofliam commented on #24
Fixed in fe005663680232c8f1ded09039ade6c489f9dd82

[2018-01-18 22:53] #24 closed

[2018-01-20 19:15] WorksOfLiam opened #25 "ILE Build Tools for RDi"
Originally an RFE for RDi, but could be useful for ILEditor.

https://www.ibm.com/developerworks/rfe/execute?use_case=viewRfe&CR_ID=50961

[2018-01-20 23:28] WorksOfLiam commented on #25
I imagine if there was a project tool in the Toolbox it would have a tree view which might look something like this

[code]

* Project SPF would only show items that have been added to the project. For example, if you create a project over an existing library, you will not see any of the existing SPFs or members unless you add them to the project listing. If the member already exists, then it will

[2018-01-21 00:59] worksofliam commented on #25
Idea no. 1

* New toolbox item which is a treelist.
* First treelist node is `New Project`, which opens a new window
  * New windows asks you what you want to create: `ILE Module`, `ILE Program`
  * After selection starting files will be generated

For ILE program:

An ILE program object will create a normal PGM object out of modules.

* Provide Project name
* Provide initial source: `RPG`, `C`, m

[2018-01-22 00:21] worksofliam commented on #25
Progress has been made today. The project outline looks like this:
![image](https://user-images.githubusercontent.com/3708366/35200634-eb02c726-ff09-11e7-9c3f-4257f3f5ee0a.png)

`Project Settings` will allow to to:
* Select the build library where all the source and objects will be placed
* Specify any local projects that need to be built before the the current project has been built (kind of like

[2018-01-23 14:05] NathanielACollier commented on #11
The arrow key movement is now there.  AvalonEdit line number on caret pos of start of line and left arrow key press will signal to turn on command mode and focus the command textbox for that line.  If in command textbox you press right arrow at the end of the text then it will signal to AvalonEdit to put cursor on the line for which command is at.   Then also in command textbox up and down arrow p

[2018-01-23 18:46] worksofliam commented on #25
Projects is now implemented to a good level.

* There are two types of project. ILE Program and ILE Modules. ILE Service Program is soon to come
* Both Program and Modules projects create the modules, but the Program project will create a PGM object with `CRTPGM`
* All source is stored locally and each source in the `Sources` folder is compiled into it's own module (if possible, otherwise SQL stat

[2018-01-25 00:31] worksofliam commented on #25
https://github.com/WorksOfBarry/ILEditor/wiki/ILEditor---projects-feature-annoucement

[2018-02-02 13:00] peetluka opened #26 "can not get memberlist, spoolfile and so on"
Hey all,
i have installed ileditor on windows10 with setup.exe from http://worksofbarry.com/ileditor/installer/setup.exe.
I have defined my as400-system...
The config is correct, the ftp-log doesn't show any error.
but i can't get memberlist, spoolfile and so on.
Can anybody help ?
Thanks in advanced

[2018-02-05 07:30] prsbrc commented on #26
Good morning. I think this is the same issue i have
https://github.com/WorksOfBarry/ILEditor/issues/21

[2018-02-05 14:16] bvstone opened #27 "Library List Suggestions"
Liam, first let me say how impressed I am with this editor!  Nice job!

In using it for a little bit here are a couple issues I have:

1.  Library list - If we select "Use User Profile Library List" it would be nice if it loaded the library list into the screen so we can verify and/or edit this library list.  Also if it set the current library to the user profile's current library.  Maybe a button

[2018-02-06 06:10] peetluka commented on #26
good morning...
can't open the link...could you please send the correct link ????
Thanks for support....
Peter

Am 05.02.2018 08:30 schrieb "Christian Brunner" <notifications@github.com>:

[2018-02-06 06:13] peetluka commented on #26
wait...sorry...i can access on gilthub....i will read it and came back
later....thanks !!!

Am 05.02.2018 08:30 schrieb "Christian Brunner" <notifications@github.com>:

[2018-02-06 06:23] peetluka commented on #26
My windows firewall is also not active....any other ftp will work fine....
 So there is no solutin for me in that articel #21.....
Are there any tcp/ip ports that could be  the problem ????
Remember...i'm on a remote system via vpn !!!
Any other idee ???
Thanks. ...

Am 05.02.2018 08:30 schrieb "Christian Brunner" <notifications@github.com>:

[2018-02-06 06:26] peetluka commented on #26
if i had not the newest version...could you send me a link to download it
???
Thanks. ..

Am 05.02.2018 08:30 schrieb "Christian Brunner" <notifications@github.com>:

[2018-02-06 07:00] prsbrc commented on #26
What CCSID does your system use?

[2018-02-06 07:35] peetluka commented on #26
normal.stndard ..655 and so on...i will look and come back...
Also today i will test a local installation...
I'm curios what happend...
I come back later ...Thanks...

Am 06.02.2018 08:00 schrieb "Christian Brunner" <notifications@github.com>:

[2018-02-06 12:16] worksofliam commented on #27
Hi @bvstone

Thanks for the kind comments.

1. Will be implemented. I won't keep a deadline, but I will get it into the library list tool.

2. I just stuck SYSTOOLS in there because... not sure actually! I will make it use the users library list when I have implemented that functionality.

3. Not sure why you wouldn't want it in full screen. Can this be justified?

Many thanks,
Liam

[2018-02-06 12:17] worksofliam commented on #26
Hi @peetluka

Can you please repeat your steps and then take a look at the FTP log? `Help -> Session FTP Log`

Please post that here.

Cheers,
Liam

[2018-02-06 12:38] bvstone commented on #27
Normally windows return to the size they were closed at when reopening.
Not a huge deal, just something annoying.  I use 2 27" monitors so full
screen is overwhelming.

On Tue, Feb 6, 2018 at 6:16 AM, Liam Allan <notifications@github.com> wrote:

[2018-02-06 16:50] peetluka commented on #26
ok...i will do it ...
i've test it today in local nerwork..same issue.....
Is the setup.exe  the newest on the link i send you in my first mail ???.
Thanks....

Am 06.02.2018 13:17 schrieb "Liam Allan" <notifications@github.com>:

[2018-02-07 06:21] peetluka commented on #26
Hi Liam,
here ist the ftp-log...
I've set my firewall off, but same error occured.
as yesterday written, i've tested it in the local network, also same error.
So i think a port or some else can't be the problem.
Thanks !

2018-02-06 17:50 GMT+01:00 Peter Bogumil <peetluka@gmail.com>:

# Connect()
Status:   Connecting to ***:21
Response: 220 Connection will close if idle more than 5 minutes.
Respon

[2018-02-07 12:32] worksofliam commented on #26
Hi @peetluka @prsbrc

I have opened an issue on the FluentFTP project (the library we use to connect to the IBM i) in hopes that they can help me solve this.

Here is a link to the issue I have opened: https://github.com/robinrodricks/FluentFTP/issues/271

Thanks,
Liam

[2018-02-07 13:56] worksofliam commented on #11
@NathanielACollier Sorry for the late reply, but no problem. Take as much time as you need! 😄

[2018-02-07 13:59] worksofliam commented on #25
Feature not to be made into master branch any time soon. I don't think this feature is important to our users, but may be more important when people are interested in doing more distributed development.

[2018-02-07 13:59] #25 closed

[2018-02-07 14:35] prsbrc commented on #26
Thanks a lot Liam. I hope i can use again your cool editor soon :-)
greets
Christian

[2018-02-07 17:09] worksofliam commented on #26
Hi @peetluka and @prsbrc

While I work on some things, check out these links. They might help you solve the problem.

* http://itknowledgeexchange.techtarget.com/itanswers/ftp-problem/
* https://archive.midrange.com/rpg400-l/200206/msg00424.html

I am also adding a feature to ILEditor tonight which allows you to change the the Data Connection Type for FTP. The default is `AutoPassive` but changing

[2018-02-07 17:40] worksofliam commented on #26
Hi @peetluka and @prsbrc

A release has been made, please update and then check the Connection Settings for the FTP tab.
Here you should:

1. Change your Data Connection Type to `AutoActive`
2. Restart ILEditor
3. Open a source physical file, open a member, save a member as normal.

If this doesn't work, try another Data Connection Type. If you're having no luck, please let me know.

[2018-02-08 06:29] prsbrc commented on #26
Good morning Liam.
It works fine (with AutoActive). Thx a lot
greets
Christian

[2018-02-08 11:23] worksofliam commented on #26
@prsbrc I will assume that is the fix then!

Thanks!

[2018-02-08 11:27] #26 closed

[2018-02-08 11:52] peetluka commented on #26
Hi Liam,

yes, great, it work’s !

I’ve another IBM AS400 with os-version V5R3, there it doesn’t work.

But i have to test it after creating the dtaara as written on the link from
your mail yesterday.

http://itknowledgeexchange.techtarget.com/itanswers/ftp-problem/

https://archive.midrange.com/rpg400-l/200206/msg00424.html

When i’ve tested it, i come back with the info !

Thank you very much, i

[2018-02-08 11:54] worksofliam commented on #26
Hi @peetluka

I am glad it's working.

I am sorry to tell you that I have no intention of support anything older than 7.1,

Cheers,
Liam

[2018-02-08 15:20] prsbrc commented on #26
Hey @WorksOfLiam
After 5 minutes idle i run on an timeout with the ftp connection and so i saved my changes only local.
Can you please implement an automatic reconnect to your editor?
Thanks a lot!
greets christian

[2018-02-08 17:09] WorksOfLiam opened #28 "Locking members"
Now that we maintain a connection to the IBM i - it may be possible for us to implement member locking when editing members!

[2018-02-09 07:01] peetluka commented on #26
Hey Liam
thanks for that info.
it's no problem...the old system with v5r3 is only for testing and because
it was my first own system...
Thanks for great job and tool.
peet

Am 08.02.2018 12:54 schrieb "Liam Allan" <notifications@github.com>:

[2018-02-09 18:40] WorksOfLiam opened #29 "IFS support"
Must support IFS stream files.

It will be up to the user to handle compiling CL, DDS, etc from the IFS (perhaps by using `CRTFRMSTMF`)

* [x] Opening stream files (this also introduced opening local files)
* [x] Saving stream files (this also introduced saving local files)
* [x] New Connection Settings: `homeDir`, `buildLib` for when compiling from IFS. `homeDir` will be used as the current direc

[2018-02-09 18:59] Gailor commented on #29
Nice

[2018-02-10 01:56] worksofliam commented on #29
Priority stuff is finished. Low priority can happen whenever.

Some images of stuff implemented:

![](https://i.imgur.com/NhIxDbR.png)

![](https://i.imgur.com/eI3YoDL.png)

![](https://i.imgur.com/Hz3YAGX.png)

[2018-02-10 13:26] WorksOfLiam opened #30 "Command entry window"
Create a command entry form to enter in commands. This form should show:

* Command entry textbox
* Command result
* Job log listing

[2018-02-10 13:29] #30 closed

[2018-02-11 21:02] WorksOfLiam opened #32 "Spool Listing not working"
Reported by Bradley Stone over Slack.

For some reason I removed the line which fetches the spool file listings when I added the back end feature which tracks QTEMP files.

This is the commit where it's removed:
https://github.com/WorksOfBarry/ILEditor/commit/d0eb974a1e9d70a1e25d69eb922823a8137cd9bd#diff-a50f798ca90c0956678966b05c8215dfL306

The fix is simply adding the line back in.

[2018-02-11 21:14] worksofliam commented on #32
This fix has triggered the release of ILEditor 1.2.2.0: https://github.com/WorksOfBarry/ILEditor/releases/tag/1.2.2.0

[2018-02-11 21:14] #32 closed

[2018-02-11 22:27] WorksOfLiam opened #33 "Make application trusted"
To make it so Windows trusts our application by default, we need to obtain a trusted certificate.

* They do cost, read more here: https://softwareengineering.stackexchange.com/a/173625
* It may be possible to generate one for free, although this is usually used for testing purposes: https://stackoverflow.com/questions/1482476/code-signing-certificate

[2018-02-12 16:36] worksofliam commented on #28
Reopening for improvement:

* [x] Store a list of currently locked files and then when the editor closes, force unlock all the locked members.

[2018-02-12 19:39] bvstone opened #34 "FTP Connection - Keep alive or reconnect automatically and FTP log Timestamp"
I find that if my IBM i FTP server has an inactivity time out set (CGGFTPA Inactivity timeout . . . . . . . INACTTIMO      300 ), ILEditor won't automatically reconnect unless I stop and restart ILEditor.

I am assuming the FTP server timeout is what is causing me not to refresh my member list as I don't see the active FTP job any longer on the system.

The FTP log in ILEditor also doesn't have a

[2018-02-12 19:51] worksofliam commented on #34
Yes, I have noticed the timeout. This is something I will look into.

Cheers,
Liam

[2018-02-12 20:25] worksofliam commented on #34
KeepAlive functionality to be added in 1.2.3.0.

[2018-02-12 20:51] #34 closed

[2018-02-12 20:52] #28 closed

[2018-02-12 20:57] worksofliam commented on #9
Added in ILEditor 1.2.2.0

[2018-02-12 20:57] #9 closed

[2018-02-12 22:39] bvstone opened #35 "Error produced when double clicking error listing entry when line number > 308"
When clicking on an error after compiling I got an error saying there was an unhandled exception. It seems to be related to the line number the error happened on.  The error was on line 1811 in this case.

I actually looked further into this and the error number reported by ILEditor in this case was wrong.  I have communicated info with Liam about this.

[2018-02-13 14:38] dkJohan commented on #33
I will look into this in my company and get back to You.

[2018-02-13 15:43] dkJohan commented on #33
We think it can be done cheaply through http://codesigning.ksoftware.net/ (4 years for 67 $).
If that is correct, we can donate for the first 4 years if you can perform the practical work with the implementation of the certificate.

[2018-02-13 16:06] worksofliam commented on #33
Hi @dkJohan

Thanks for the offer! By 'practical work' do you mean maintaining it and continuing to enhance it?

Are you currently a user of ILEditor?

Thanks,
Liam

[2018-02-14 07:38] dkJohan commented on #33
@WorksOfLiam Hi, the practical work is ordering and implementing the cerficate on Your website. :-)
We think this is the best way. You can use the certificate to what ever You want for the period and hopefully find a sponsor when times comes.
I ment to try out ILEditor but Win10 security setting blocked the installation process. Probely due to the missing https on workofbarry.com.
We installed it

[2018-02-14 20:39] aaronbartell opened #36 "Default Spool library and object"
Currently you have to modify connection settings before you can display your own spool files.  Would be good if this was configured by default.

As a stop gap, you could fill it with QGPL/QPRINT which is most likely what many have as their default.

Love,
Bacon

[2018-02-14 20:45] aaronbartell opened #37 "Simultaneous multiple connections"
Right now I can only connect to one system at a time.  If I need to connect to another system it requires closing my work on the current system and connecting to another.  Would be nice if I could have multiple systems connected simultaneously.

Love,
Bacon

[2018-02-14 20:51] aaronbartell opened #38 "Ability to search inside of opened spool file"
When I open a spool file it is often the case I need to search for specific things.  Currently I have to search with my eyes.  Would be great to have a simple search/find capability.

Love,
Bacon (wrapped in Bacon)

[2018-02-14 21:11] aaronbartell opened #39 "Retain opened source members through restarts"
Currently when I close the entire ILEditor app, with members open, it won't have those same members open when I re-open the app.  It would be good to have this as a feature.

[2018-02-14 21:18] aaronbartell opened #40 "Hard error when visiting IFS first"
ILEditor bombs if the first thing I do is try to view the IFS.  If I first display QSYS.LIB and then IFS then the IFS shows successfully.

See below screenshot.

![image](https://user-images.githubusercontent.com/106142/36228552-1bbe202a-119a-11e8-9a0c-ba0dbc9fbd92.png)

[2018-02-15 00:49] worksofliam commented on #37
I can't promise I will implement this. Right now, the way around this is by starting a second ILEditor window and opening a second instance.

I will keep this in mind.

[2018-02-15 00:51] worksofliam commented on #36
I will add QGPL/QPRINT as the default option for next release.

It's also possible to get the user's current output queue using `USER_INFO`(?) in SQL.

Thanks!

[2018-02-15 00:52] worksofliam commented on #38
This one is nice and simple. Expect it in the next release.

Note to self: instead of opening the spool file with a rich text box, open with SourceEditor instead - this will allow a find function.

[2018-02-15 00:53] worksofliam commented on #40
Okay, thanks. I am not able to re-create it, but changes have already been made to how the IFS listing works, which you will see in the next release.

[2018-02-15 19:15] worksofliam commented on #36
Default output queue QGPL/QPRINT has been defined for 1.3.0.0+

[2018-02-15 19:15] #36 closed

[2018-02-15 19:15] worksofliam commented on #38
Fixed within 1.3.0.0

[2018-02-15 19:15] #38 closed

[2018-02-15 19:15] worksofliam commented on #40
Hi @aaronbartell

Please retest in the latest version (1.3.0.0) and let me know if it still persists.

Thanks!
Liam

[2018-02-15 20:52] XpPaul1 opened #42 "Save ICON now acts as a SAVE-AS"
In version 1.3.0.0 when you go to click on the SAVE ICON diskette, it pops a save-as  prompt

Cntrl S still works Okay.

![capture](https://user-images.githubusercontent.com/36519805/36280353-f9e39538-1267-11e8-9278-3349d4c81cc5.PNG)

[2018-02-15 23:10] worksofliam commented on #42
Ops! I will fix this now.

[2018-02-15 23:15] worksofliam commented on #42
Fixed in 25d6d922bd99a722292b081d097bce4e2aae00a9 and is now available in 1.3.0.1

[2018-02-15 23:15] #42 closed

[2018-02-16 16:49] worksofliam commented on #33
@dkJohan

SSL is now setup on worksofbarry.com - finally!

Thanks,
Liam

[2018-02-16 17:26] bkoscien opened #43 "ILEditor on old OS VRM"
Hello,

It seems that ILEditor extracts / returns some informations to the client using RUNSQL.
Unfortunately, this command appeared at level 7.1 of the OS.
Actually, I do'nt know if

In our case, we have more than 250 boxes ranging from 5.3 to 7.3 TR4.
For organisationnal reasons, our tools are always generated and distributed from an  LPAR running at level VRM 540.

I have noticed that the PF-SR

[2018-02-16 18:19] worksofliam commented on #43
Hi @bkoscien

Thanks for your interest. Sadly, I have no plans to support anything before 7.1. Having said that, I am more than happy to accept pull requests for supporting older platforms.

While the code will still work on 7.1: I only plan on support 7.1 until its end of life, which then I will only support 7.2 and above: http://ibmiclock.mybluemix.net/

If I had access to a 5.4 box, then my res

[2018-02-16 21:05] #43 closed

[2018-02-16 21:57] WorksOfLiam opened #46 "Improvements to outline"
### RPG

* [x] When Standard type using `LIKE` keyword, result is `THEVAR LIKE` - make it so shows the `LIKE` block value instead
* [x] Grab `Dcl-PI` parameters
* [x] Grab `Dcl-DS` subfields

### CL

* [x] Support both following `DCL` syntaxes:
[code]

[2018-02-17 01:58] worksofliam commented on #46
Available in 1.3.2.0

[2018-02-17 01:58] #46 closed

[2018-02-17 02:03] worksofliam commented on #39
@aaronbartell Are you able to help me decide what priority I should give this feature? It's certainly possible, and shouldn't be too hard. You will have to explain to me what you expect to happen if

1. you start ILEditor
2. it's trying to open members which were open previously, but they're locked by another job

Perhaps a warning or just open in readonly mode?

Thanks,
Liam

[2018-02-17 02:03] worksofliam commented on #40
Re-fixed in 1.3.2.0

[2018-02-17 12:01] WorksOfLiam opened #48 "Ability to edit hosts before selecting them"

[2018-02-17 12:05] WorksOfLiam opened #49 "Ability to use UPDPGM/UPDSRVPGM from Program Listing"

[2018-02-17 14:04] Apsoftbe opened #50 "ILEditor through VPN"
Hello Liam,
I'm trying to work with your editor through VPN.
I'm getting Unable to connect ... - Timed out to trying ... after few seconds.
VPN is working because I can open telnet session to system.
Which ports are you using to connect.
Thanks
Peter

[2018-02-17 14:30] bvstone commented on #50
I can verify ILEditor works over multiple different types VPNs for me.  So it's possible the client doesn't have FTP server started or it's running on different ports, etc.  The FTP log may give some clues.

[2018-02-17 19:21] worksofliam commented on #49
Has been implemented in 98fbffc734bb6889264c2de7ab01f28f584b4c8a.

[2018-02-18 21:30] #50 closed

[2018-02-18 21:31] WorksOfLiam opened #51 "User password prompt"
If the user does not want to store their password, ILEditor should prompt them to enter it when connection to their IBM i.

[2018-02-18 22:27] worksofliam commented on #51
Enhancement made in commit ca57243243d1b35ac9a4da53ed83208768d8a6b1 and released in 1.4.0.0

[2018-02-18 22:27] #51 closed

[2018-02-19 07:14] dkJohan commented on #33
Yes, I saw Your tweet. Great :-)

[2018-02-19 16:24] venky76v opened #52 "Getting error "Unable to download member LIBR1/SOURCEPF.MBR1". Please check it exists and that you have access to the remote system"
Hi Barry,

Don't know if I should be raising this as an issue. I just updated to the latest version of the editor and now I am not able to open any of the sources? It was working on the last version but since the last update, I am getting the error "**Unable to download member LIBR1/SOURCEPF.MBR1". Please check it exists and that you have access to the remote system**"?

Are there any logs that I

[2018-02-19 16:49] worksofliam commented on #52
Hi @venky76v

Please follow the steps on this comment and please retest.

https://github.com/WorksOfBarry/ILEditor/issues/26#issuecomment-363849218

Let me know if it persists. What version of the OS are you on?

Thanks,
Liam

[2018-02-20 06:16] kofetz opened #53 "SRCDAT value 000000"
Hi Barry,

I did some trial on editing sources and yes the SRCDAT on each record changed into 000000.. Pls help on this matter.. I use SRCDAT to track back when the change of lines was made..

Thank you..

[2018-02-20 11:04] worksofliam commented on #53
Hi

Thanks for raising this issue. I will have to think about it. Right now, I am using git to track any changes to source members. It's much nicer than using a merge on 5250. Eventually, I will also add a compare and merge between two sources into ILEditor which will also help tackle this problem.

Thanks,
Liam

[2018-02-20 11:05] worksofliam commented on #52
Hi. Please reopen this issue of it persists. Thanks.

[2018-02-20 11:05] #52 closed

[2018-02-20 14:24] Ubedawg commented on #53
This made it a no go for our developers.  Poised to use as an alternative to RDI but source date is crucial to us.  Will be keeping an eye on developments regarding this.  Right now it's a 'view only' policy, although I will probably use it for brand new apps.
Other than that.... kudos to you, Liam.   A wonderful application.

[2018-02-20 14:54] worksofliam commented on #53
Hi @Ubedawg

Thanks for the kind comments. I am interested in as to why it's crucial for you. Is it due to your change management, or because you use certain tools that require the SRCDAT column?

Thanks,
Liam

[2018-02-21 10:19] Bsloggett commented on #53
Hi Liam, please be advised - FTP (which is what i believe is being used behind the scenes to update the source member back on the server, while editing - correct ? )   on the Iseries by default uses a certain passive mode that resets the source change date (as if it was a new record, and not modified one-because FTP writes back each source record as if new-It doesn't compare to see if it is a chan

[2018-02-21 10:55] worksofliam commented on #53
Hi @Bsloggett

Yes, I am aware.. no matter the connection type (be it passive or active) the SRCDAT is always reset. Right now, using BIN (binary mode) is not an option because ASCII mode will handle the EBCDIC conversion. If you know a way for FTP to retain the SRCDAT, then please let me know - although I am not sure it's possible.

I am in the midst of thinking of a fix which would

1. Download

[2018-02-21 15:17] Ubedawg commented on #53
Hi Liam,
There are various reasons that are all based on change management.  While I believe we do have some in house tools as well, it is the change management that is more important.   I am going to advise our developers that they can still use the application for new code.  I don't think that any of them have watched your youtube vids, but when they do, I think it will pique their interest :)

[2018-02-21 19:09] okuturn commented on #53
SRCDAT is important in our shop to see what lines have changed, basically change management. We have just two coders but when changes occur we need to be able to see what was changed. Without the dates then we have to source compare from previous versions which isn't always available. Liking what I see though. Impressed so far.

[2018-02-21 21:19] rbpabluecloud commented on #53
I have been following the comments and would like  to add mine. SRCDAT would be nice to have, but it is not required. Like others have mentioned, it can be helpful when searching changed lines, but only the last line change, so it is not really a change management "tool".  It is more of a fall back for lack of change management and lack of basic change documentation. If it can be added easily, the

[2018-02-22 10:56] bkoscien opened #54 "First time usage"
Hello,

Where can we find the list of shortcuts?
Thank you

[2018-02-22 11:09] worksofliam commented on #54
There is no user documentation yet. Here is a list off the top of my head:

Ctrl+N - New
Ctrl+O - Open
Ctrl+P - Open previous / Fast search
Ctrl+S - Save
Ctrl+L - Library List Settings
Ctrl+Alt+C - RPG Conversion
Ctrl+Alt+X - CL Formatter
Ctrl+B - Quick Comment
Ctrl+Shift+C - Compile open source

[2018-02-22 11:09] #54 closed

[2018-02-22 13:34] bdietz400 opened #55 "RPG Source conversion - DCL-xx"
When I take a hunk of "old" code to convert to free-form, a trailing "END-xx;" is "missing(not added)".  It's is easy enough for me to to add after the conversion, just wanted to see your thoughts.

example

D RtvObjD         Pr                  ExtPgm( 'QUSROBJD' )
D  RoRcvVar                  32767a         Options( *VarSize )
D  RoRcvVarLen                  10i 0 Const
D  RoFmtNam

[2018-02-22 13:51] aaronbartell commented on #39
Yes, that sounds like the best approach.

[2018-02-22 13:53] nbush78 opened #56 "Compiles default to PRT01 OutQ"
When compiling a source, the spool file defaults to PRT01 instead of my OutQ defined in connection settings.

[2018-02-22 14:35] worksofliam commented on #56
The output queue defined in the connection settings does not choose where to place spool files. It is used to determine where to load spool files from for the Spool Listing.

[2018-02-22 15:38] bkoscien commented on #54
Thank you

[2018-02-22 18:18] #56 closed

[2018-02-22 18:21] nbush78 commented on #56
I found my ileditor job in QSYSWRK
The job is using the QTMFTPS job description, but has PRT01 as the Printer device
The Job Description has Printer device set to *USRPRF
My user profile has the Printer device set to *WRKSTN
Since this job has no workstation it was defaulting to the QPRTDEV system value of PRT01

I changed the Printer device setting for my user profile to another printer that does

[2018-02-22 18:23] worksofliam commented on #56
Thanks for sharing this @nbush78!

[2018-02-22 18:35] nbush78 commented on #56
Correction, even though the job says it is running under my userid in wrkactjob, when you work with the job it is running under QTCP. Will need to think abit before making the Print device change to the QTCP user, so right now I just am running CHGJOB JOB(136170/QTCP/QTFTP00939) PRTDEV(FAKEPRT) on new instances of ileditor.

[2018-02-22 22:44] Bsloggett commented on #53
OKUTURN -  Im not getting it,  at all - Since when is  54-compare source members not available..?   I am really not getting all this dependency on  SRCDAT... Why don't u guys just tag each line of changed code if it is so important, like most shops do ?  w/free form its easy, on far right  just put ...// comment1 -BDS1
notice i put my initials, and every time im in that pgm, i just increment that

[2018-02-23 00:11] kenwilcox opened #57 "IFSBrowser directory traversal"
Using latest source (SHA ad79952) when I traverse the directories in the IFS Browser past the initial load the last folder in the parent path is coming back from the Client.GetListing(remoteDir).

Example: lets say that I have my home directory set up to /home/source and under that there's a Common folder and under Common there are folders A, B, and C. When the IFSBroswer.cs files_AfterExpand is c

[2018-02-23 00:30] worksofliam commented on #57
Yes.. looks like something to do with FluentFTP. Feel free to try make a manual fix, otherwise I will give it a go tomorrow.

Thanks for raising this issue!

[2018-02-23 00:37] worksofliam commented on #57
Note for tomorrow, line 80 of IFSBrowser.cs has this: `node.Tag = item.FullName;` - this might be the place to start.

[2018-02-23 00:48] worksofliam commented on #55
Hey @bdietz400

Right now the reason it does this is because the user selects which code they want to convert manually, and therefore we don't add the end-pi incase it's not the end of the interface. The user may only be converting one or two lines.

Thanks,
Liam

[2018-02-23 01:11] kenwilcox commented on #57
I started with that, but I’m not sure how I want to check for a duplicate name because what if the path further down is a legit duplicate name?

I don’t recall having this issue on Friday? It looks like there was 30+ commits since then, I’m not sure what changed.

[2018-02-23 11:48] worksofliam commented on #57
@kenwilcox

A couple of things that might help you is to keep rolling back the commits to find when this issue started happening. I don't have time today but I can start taking a look tomorrow.

[2018-02-23 23:01] #57 closed

[2018-02-23 23:02] #55 closed

[2018-02-26 15:31] #40 closed

[2018-02-26 15:33] worksofliam commented on #35
I found that this issue occurs with the SQL-precompiler using `*LVL2` which has includes inside of it. I made a fix in 23884e8be1f2dcef38e10ab5dba8279144b76f57.

Please retest and re-open if the issue persists.

[2018-02-26 15:33] #35 closed

[2018-02-26 16:21] nbush78 opened #59 "QSYS Browser Still shows deleted SPFs"
I did some cleanup within my library and removed some old source physical files. I noticed that they still show in QSYS Browser and don't see a way to refresh or remove a src-pf from the listing.

[2018-02-26 16:30] worksofliam commented on #59
Hi @nbush78

You should select the SPF that is still appearing and use the Delete key to remove them. The listed SPFs are just shortcuts, so removing the shortcut from ILEditor will not delete the SPF on the remote system

Thanks
Liam

[2018-02-26 16:34] nbush78 commented on #59
Thanks! i was right clicking thinking of getting a menu. never thought to try physical button.

[2018-02-26 20:42] getfoundational commented on #27
I would concur with Brad on the window size retention.  I normally have the code on half my screen and something else (XML, JSON, EDI) on the other side that I am referencing as part of the code I am writing.

[2018-02-26 20:52] getfoundational opened #60 "Code Conversion - Data Structures Not Migrated Properly"
Hi Liam,

I was using ILEditor to convert a program from fixed format to free and noticed that my data structures were not converted properly.

If I start with this:

`DHEADERDS         e ds                  extname(HEADER) Qualified`

After conversion I get this:
`Dcl-DS HEADERDS         e  extname(HEADER) Qualified;`

But that does not compile and what I really needed was:
[code]

That does seem

[2018-02-26 20:55] getfoundational opened #61 "IDE - Save Setup of IDE on Exit and use on Open"
Hi Liam,

I wanted to ask if the saving of the general setup of the IDE was possible in ILEditor?  Like when I open it and position the various items like Toolbox, QSYS Browser, etc if the sizes, positions, and attributes (like auto hide) of those items should be saved somehow when you close the IDE and reopen it later?

This sort of ties in to Brad's issue of window size, it just expands on it a

[2018-02-26 22:57] worksofliam commented on #60
Hi @getfoundational

Can you place the entire fixed-line (with all the correct spacing) so I can recreate this?

Thanks,
Liam

[2018-02-26 23:18] worksofliam commented on #61
Persistent docking has been added in commit ec31e0edec63492066ef5a66e9908911ffd2a5ca.

It will be available in ILEditor 1.4.4.0

[2018-02-26 23:18] #61 closed

[2018-02-27 12:48] getfoundational commented on #60
Pasting in here, even using the code markdown seems to suppress the spaces.  Let's try a text attachment.

[Code-Snip.txt](https://github.com/WorksOfBarry/ILEditor/files/1762683/Code-Snip.txt)

[2018-02-28 17:05] XpPaul1 opened #62 "Remove Compile Type accidently keyed in."
In the compile options, you can create a New compile type or New command.
I have accidentally  keyed in a New Compile Type with the wrong name.  but I don't see a way to remove it.

[2018-02-28 17:14] worksofliam commented on #62
Currently there is no way to remove it. This is something I can add to my to do - pull requests are welcome if it's needed sooner.

Thanks!

[2018-02-28 18:20] XpPaul1 commented on #62
thanks.  Not needed sooner.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Liam Allan <notifications@github.com>
Sent: Wednesday, February 28, 2018 12:15 PM
To: WorksOfBarry/ILEditor
Cc: XpPaul1; Author
Subject: Re: [WorksOfBarry/ILEditor] Remove Compile Type accidently keyed in. (#62)

Currently there is no way to remove it. This is something I can add to my

[2018-03-01 09:38] WorksOfLiam opened #63 "Onlne ILEditor Feedback & Future meeting"
This is the plan for the ILEditor Feedback & Future meeting which will happen on **Friday 9th March 2018, 3:30pm GMT**.

- Pull request statuses
- Feedback from survey
- Current open issues on GitHub
- Features to be implemented (from GitHub issues and outside of GitHub)
- How to market ILEditor (how to attract more users)
- Best place for discussion? (worksofbarry forum, github issues, existing f

[2018-03-01 12:16] worksofliam commented on #29
Would be useful if someone could work on the PHP & JavaScript highlight, for both light and dark themes.

[2018-03-02 12:11] dwt1324 commented on #53
I have been doing a trial for ILE-Editor.  While we do not use  SRCDAT for change management, and we tag lines of code that are added and/or modified (as well as use the source compare utility), SRCDAT is still considered a useful piece of information.  After discussing with my co-workers, the general consensus is that SRCDAT is valuable enough to prevent us from considering using the tool until t

[2018-03-02 15:44] bluezdood opened #64 "Login Port other than 21"
We are unable to login due to the inability to use a port other than 21.

[2018-03-02 15:58] worksofliam commented on #64
I will add an enhancement so the user is able to specify a port number in the hostname.

Not sure of a timeline, but it will be on my to do list.

Thanks,
Liam

[2018-03-09 10:20] paulgfoster commented on #60
Hi Liam,

One more conversion error that I found (v1.5) ....

varying doesn't work for ucs2 fields:

       d myVarUCS        s             32c   varying   // original
       Dcl-S myVarUCS Ucs2(32) varying;	         // converted
       Dcl-S myVarUCS Varucs2(32);                   // should be

character types are fine.

Paul

[2018-03-09 15:49] worksofliam commented on #64
In host name, allow for both `hostname` and `port`: `hostname:port`

[2018-03-09 15:55] worksofliam commented on #53
Note: priority has been put up during ILEditor meeting. Will be enabled via option in Connection Settings, enabled by default.

[2018-03-09 15:56] worksofliam commented on #48
Note: would be nice.

[2018-03-09 16:05] worksofliam commented on #8
Note: give some priority after ILEditor meeting

[2018-03-09 16:11] worksofliam commented on #63
Discussion:

- Slack Channel (??)
- Midrange (depends) or code400 forum

[2018-03-09 16:25] WorksOfLiam opened #65 "CRUD generate based off table"
Generate CRUD (service) program based on a template and/or file (based on keys)

[2018-03-09 16:51] #63 closed

[2018-03-11 15:03] bvstone opened #66 "Saving Wrong Member"
Open a member (MEMBER1) to edit.  Edit it.  Don't save it.

Open another member (MEMBER2).  New tab is opened.

Go back to the first member tab.  Save.  It says "MEMBER2 saved." instead of MEMBER1.  And in checking, it is saving MEMBER2 instead of MEMBER1, even though MEMBER1 is showing and it's tab is highlighted.

[2018-03-11 15:09] worksofliam commented on #66
Hi @bvstone

I am aware of a fix and will look into doing it today at some point.

The work around for now is the select the text area of the tab first and then save.

Thanks,
Liam

[2018-03-11 16:10] worksofliam commented on #66
@bvstone

This issue should be fixed in 1.5.2.0.

Thanks,
Liam

[2018-03-11 16:10] #66 closed

[2018-03-14 01:23] worksofliam commented on #64
Ability added in commit e6e55fb2fdce8e0d3906dfed4420f954ed7a7233

Will be available in 1.5.3.

[2018-03-14 01:23] #64 closed

[2018-03-15 13:58] fallingrock opened #67 "UI changes"
A few UI suggestions ...

- [x] On the connection settings panels, instead of "FTPES"  use "FTP SSL". Personally, I've never hard of "FTPES".
- [ ] For source pf input fields, use "SRC PF" as the tool tip instead of "SPF".
- [x] On the ILEditor tab of the connection settings, change the label "Executable" to "ACS executable" or (even better) don't require an executable and let the user point to th

[2018-03-15 14:00] fallingrock opened #68 "Setup program name"
Kind of a minor annoyance ... but it would be better if the setup program name was meaningful instead of generic.

Instead of "setup.exe", make it "ileeditor-setup.exe".

[2018-03-15 14:22] fallingrock opened #69 "Check for required version of .net"
The installer should check for, and offer to download, the minimum required version of .net.

Possibly open https://www.microsoft.com/net/download/dotnet-framework-runtime in the default browser.

[2018-03-18 15:49] worksofliam commented on #67
I have made three commits this morning which fix three of the ticked issues. I will get around to changing the "SPF" to "SRC PF" issue long term.

[2018-03-19 09:18] StuBramley opened #70 "Non-FTP connection methods"
The tool looks promising however the connection method being based on FTP/FTPS is a show stopper for us being able to adopt it.  We have clients that block FTP at the firewall for security reasons. FTPS is allowed however command execution over FTPS is not - also for security reasons.

[2018-03-20 23:36] worksofliam commented on #70
We could one day implement an SSH only version, but the reason we use FTP is for the consistant job and ASCII member conversions.

[2018-03-21 11:48] Sumeel commented on #53
Hi Liam,

Thanks a lot for this Application.Excellent work done..Kudos to you..

We use SRCDAT to keep track of changed lines and it is a very important for us for source comparison. Need help on this issue as it is stopping us from using the editor.

[2018-03-21 12:03] Sumeel opened #71 "Application terminates abruptly"
Hi Liam,

When I have test source and production source opened in two different tabs and unknowingly I update and save the production source(for which I do not have authority),instead of showing the warning/error message ,application is getting terminated abruptly.Need help on this.

[2018-03-21 15:01] worksofliam commented on #71
Hi @Sumeel

Can you please give me steps in numeric order so I can try and recreate on my machine.

Thanks,
Liam

[2018-03-21 17:20] Sumeel commented on #71
Hi Liam,

Please find my comment as below.

1.In one of the tabs, I was working on Test Source(which was in my library).
2.Opened the same source from the production library in another tab.
3. I did some changes in the test source but not saved.
4.Unknowingly I added another few lines in production source (instead of test source) and tried to save the production source .(for which I do not have au

[2018-03-29 12:38] beatony opened #72 "NO DLCOBJ"
Good morning, I noted via FTP log that ILEditor do an ALCOBJ. But when I close the source there is no opposite command DLCOBJ, so member stay locked.
I  don't know if it's my own problem.

[2018-03-29 13:05] worksofliam commented on #72
Hi

I was able to recreate this and I must have removed the event handler when playing around with the dock. I have fixed it and the fix will be available in ILEditor 1.5.4.

[2018-03-29 14:45] beatony commented on #72
Thanks a lot ! Bye

[2018-04-05 11:38] getfoundational commented on #48
Hi Liam,

This suddenly has become a large issue for me, unless I am missing some work around.  I updated my password on the development system and now none of the existing system connections I have to it will work and there does not seem to be a way to edit that information to adjust the saved password for logon which has rendered those connections/systems unusable for now.

Is there some other w

[2018-04-05 12:14] worksofliam commented on #48
Hi @getfoundational

I would suggest selecting Offline Mode before connecting to the system - this will not attempt to connect to the remote system then. When the IDE has launched, go into the Connection Settings and update the password.

I will eventually get around to working on this.

Thanks!

[2018-04-05 12:20] getfoundational commented on #48
Thanks!  That works as a good work around.

[2018-04-05 12:56] moege opened #73 "I don't get a source opened"
I've wanted to test the ILEditor (v 1.5.4.0). I hope I'm not a complete fool, but I can't open a RPGLE source from our IBM i.
Here my steps that I tried:
1. Open per Member Browser. But when I type in my library and source-pf, I just get the answer "No members found!" (-> I checked it, there are sources in my sandbox-library).
2. Open it directly by using File -> Open -> Member. There I got the Me

[2018-04-05 12:57] bvstone commented on #73
Check to make sure your FTP server is running on your IBM i.

WRKACTJOB JOB(QTFTP*)

On Thu, Apr 5, 2018 at 7:56 AM, moege <notifications@github.com> wrote:

[2018-04-05 13:00] worksofliam commented on #73
After you have enabled FTP on your system, if you're still having issues try switching to `AutoActive` in the Connection Setting's FTP tab.

![image](https://user-images.githubusercontent.com/3708366/38367085-9f6810be-38d9-11e8-99b6-6bddba85487e.png)

[2018-04-05 13:03] #72 closed

[2018-04-05 13:03] #70 closed

[2018-04-05 13:04] worksofliam commented on #68
It's possible that in the next major release we could change the installer name, but it's very unlikely to happen anytime soon.

[2018-04-05 13:07] moege commented on #73
First, thanks for your fast help!
I checked FTP and it is running on the system. I think I wouldn't be able to create a sourcemember if FTP wouldn't run, or?
So I switched to AutoActive in the Connection Setting's FTP tab, but unfortunately this didn't solve the problem too.
Do you have another tip for me?

[2018-04-05 13:08] moege commented on #73
Sorry, I hadn't seen, that the settings-change needs a restart.
Now it works.

Thanks a lot guys!!

[2018-04-05 13:09] worksofliam commented on #73
@moege

Great, thanks!

[2018-04-05 13:09] #73 closed

[2018-04-06 10:22] NK11581 commented on #40
Hi Liam,

I am facing issue in first time use. I was able to connect to IBM i but when opening a member it gives an error

"Unable to download member . Please check if it exists and you have access to remote system"

Can you please assist

[2018-04-06 10:31] worksofliam commented on #40
@NK11581 Please do not comment on closed issues unless it is relevant to the issue.

See this issue and follow some of the steps: https://github.com/WorksOfBarry/ILEditor/issues/73#issuecomment-378926694

[2018-04-06 11:30] NK11581 opened #74 "Not able to open Source in ILEDITOR"
Hi Liam,

I am a new user of ILEditor. I am able to create a source but not able to open a source. Even though I changed connection setting FTP -> AutoActive as per other blog still not opening existing source.

[2018-04-06 11:35] worksofliam commented on #74
Please make sure you restart the client after you have changed the FTP setting.

[2018-04-12 13:05] NK11581 commented on #74
Hi Liam, Same error :-(

Even though i tried on two systems with AutoActive selected and restarted ILEEditor. It gives same error "Unable to download member. Please check if it exists and you have access to the remote system:.One of them is at V7R1 and another at V6R1 . Is this can be an issue ?

[2018-04-14 08:37] worksofliam commented on #74
@NK11581 ILEditor does not support 6.1. The next step would be:

1. Reproduce your steps
2. Paste a copy of the Session FTP Log here. (Helo -> Session FTP Log)

I will close this issue. Please re-opening when your log has been pasted.

[2018-04-14 08:37] #74 closed

[2018-04-14 08:41] worksofliam commented on #71
Hi @Sumeel

Sorry I haven't been able to help much. You haven't updated the issue since you posted your steps, so if you continue to have issues please feel free to re-open. If it's priority, please recreate the steps - and before you think it's going to crash please grab a copy of the Session FTP Log (Help -> Session FTP Log) and paste it here.

Thanks!
Liam

[2018-04-14 08:41] #71 closed

[2018-04-14 08:45] worksofliam commented on #69
The installer is the default Microsoft ClickOnce installer and I am unable to change how it works. I have the enabled to check for the required .NET version - and there is not much more I can do, for now.

[2018-04-14 08:45] #69 closed

[2018-04-14 08:49] worksofliam commented on #68
Now this is possible, but since I am using Visual Studio to automate the deployment right onto the server. This means I cannot rename the installer until it has reached the server, and then it I will have to manually do it anyway - this also means I would have to update the website. There is not a lot of benifit in doing this, so I will close for now.

[2018-04-14 08:49] #68 closed

[2018-04-14 14:07] worksofliam commented on #37
After some thought, with the state of the current architecture this is not really possible.

With that being said, I will close this issue.

[2018-04-14 14:07] #37 closed

[2018-04-16 16:06] jannofett opened #75 "Response: 501 Character (?) not allowed in object name."
Greetings to all,
First of all, I want to thank everybody who's developing this project.
After trying some features, I've found out this thing:
if I try to open a file which begins with "§", ILEDITOR doesn't open it, giving me the error "Unable to download member [...]. Please check it exists and that you have access to the remote system".

I've tried all the connection options in the settings, bu

[2018-04-16 22:06] worksofliam commented on #75
Hi

I am afraid you will not be able to open members that use that character. This is just a general issue with FTP and nothing I can do to fix this. Of course, you will need to rename them in order to open them. I am curious as to why you'd use that character when naming members.

Sorry for any inconvenience.
Liam

[2018-04-16 22:06] #75 closed

[2018-04-17 06:36] jannofett commented on #75
It's because the software house I work with uses this way to name files done for other businesses, and there are a lot of them done in this way during the years, literally hundreds of hundreds. That's why I asked for the workaround. But thanks anyway.

Luca

[2018-04-23 14:12] Apsoftbe opened #76 "Http/1.1 307 Temporay Redirect"
Error when installing product.
Http redirect is not allowed for application files and assemblies.

[2018-04-23 14:20] worksofliam commented on #76
@Apsoftbe

https://github.com/SMRFoundation/NodeXLBasic/issues/220

In the future, please be more elaborate when creating an issue.

Liam

[2018-04-23 15:14] Apsoftbe commented on #76
Solution provided already tested out.
Default browser is Chrome.
Setup stops with message of http redirect is not allowed.
See attached log file (Dutch).
I think our security settings don't allow redirecting.
Is it possible to provide a setup file with libraries included.
Thanks in advance.
[ILeditor.log](https://github.com/WorksOfBarry/ILEditor/files/1938828/ILeditor.log)

[2018-04-24 21:07] worksofliam commented on #17
Currently a work in progress. See `codecov` branch.

[2018-04-27 13:55] XpPaul1 opened #77 "RPG Conversion in the Source menu is grayed out and no longer works."
RPG Conversion  in the Source/language tools menu is grayed out and no longer works.  I know that it worked on an earlier versions but I haven't tried it in a while.  I know that it doesn't work in version 1.6.0.0.

[2018-04-27 15:10] worksofliam commented on #77
Hi. It has been disabled as of 1.6 because it needs some work - or maybe even a complete rewrite.

Until then, it will be disabled in the release version. Please close this issue unless you have further questions.

Thanks!

[2018-04-29 18:34] #62 closed

[2018-05-10 15:24] bluezdood opened #78 "Login port other than 21"
Currently trying version 1.6.0.1 and we can't get the port option to work. Tried multiple formats, no such luck.

![error](https://user-images.githubusercontent.com/36970400/39877680-14c2e544-5466-11e8-9d05-46f8363d0c54.jpg)

[2018-05-21 11:50] dwt1324 commented on #53
Any updates on when this will be fixed?

[2018-05-24 11:47] mlstoppa commented on #53
Hi Liam,
While looking for RDi alternatives I stepped into your tool so I have just started to use it; excellent job done so far and I hope it will be improved more and more. In our company at least 15 people code in RPG ILE with or without SQL and I hope we all will be using it in a few months.
But SRCDAT could be an issue because frequently we search the last changes in order to align test and p

[2018-05-24 19:27] worksofliam commented on #78
Hi @bluezdood

I am travelling at the moment but when I am able to I will take a look at this.

Thanks!

[2018-05-24 19:28] WorksOfLiam opened #79 "Re-write outline view"
WorksOfLiam/Coolex recently got an enhancement to include the line number in the token, which is more efficient than the way that ILEditor parses the source (line by line, new instances of the lexer).

It would be good to re-write using the new functionality.

[2018-05-24 19:29] WorksOfLiam opened #80 "Include rpglint as tool"
Would be neat to have the rpglint project integrated into ILEditor.

[2018-05-25 15:10] worksofliam commented on #78
Hi! The bug is fixed. Looks like when I added the ability I didn't test it very well.

742eff410b6405a2644bca0226cdf050df63d686

This will be out in the next release (no idea when that is at the moment, I'd say a week or two)

I will close this issue, but you should re-open if it the fix does not work.

Thanks,
Liam

[2018-05-25 15:10] #78 closed

[2018-05-25 16:53] WorksOfLiam opened #81 "Add `endfor` keyword to RPG syntax highlighting"

[2018-05-27 16:37] #81 closed

[2018-06-05 15:16] benthurley82 opened #82 "Installer doesn't work"
Hi @WorksOfLiam,

I just tried installing on my Win 10 laptop but the installer doesn't seem to work. I get a popup saying "Verifying application requirements. This may take a few moments." but a split second later the popup vanishes and nothing else happens.

I'm sorry it's not much to go on. Let me know if there's any debug output I can get for you to help.

Cheers
Ben

[2018-06-06 02:25] worksofliam commented on #82
Hey Ben

I had a quick look into this today but should be able to give a better update tomorrow.

Probably something .NET related and is hopefully a simple fix.

Thanks!
Liam

[2018-06-07 12:43] worksofliam commented on #82
Hi @benthurley82

After some Googling there is a few options available.

1. Running as admin (right click-> Run as Administrator)
2. Disabling or uninstalling Dell System Detect: http://www.dell.com/support/article/uk/en/ukbsdt1/sln117738/dell-supportassist-formerly-dell-system-detect-overview-and-common-questions?lang=en (towards the bottom)

Please let me know how you get on.

Thanks!

[2018-06-07 13:29] benthurley82 commented on #82
Ok it seems to work now. I'm not 100% sure what fixed it. Yesterday I tried downloading the .net core library version linked from the ILEditor homepage but it didn't fix anything. However, I've since rebooted so that could have done the trick. I did already have .net core installed but different versions.
Just now I tried running as admin and the app started but whether that was because I was runn

[2018-06-07 13:29] #82 closed

[2018-06-07 13:40] benthurley82 commented on #82
For info it looks like I have installed
.NET Core Runtime 2.1.0 x64
.NET Core SDK 2.1.104 x64

I had the SDK already but tried installing the specific runtime to get ILEditor working.

[2018-06-09 22:04] worksofliam commented on #80
To do:

* [x] Integrate the features from the linter.
* [ ] Re-create the outline view

[2018-06-16 21:22] bvstone opened #83 "Label tab with Library Source PF name (or option to do so)"
Sometimes I come across code where the program name is the same as a /copy member or am working on two versions of the same program.

Program source is in QRPGLESRC

/COPY source is in QCOPYSRC (or something similar)

Both are type RPGLE or SQRPGLE.

So both tabs, when open, say PROGRAM.rpgle

Or, you could have the same program open in two different libraries (ie, test/developement)

Is there a w

[2018-06-21 21:00] thebeardedgeek commented on #53
Hi Liam,
This is a great tool but the SRCDAT being set to 0000 makes it a no go for us. We comment the code with dates when we make changes but we also use the dates within the file to search for the lines modified on those dates. I use this heavily for the payroll programs I work with and without the SRCDAT info I cannot use this tool.

Keep up the great work and thanks for keeping this tool open

[2018-07-06 18:43] bluezdood opened #84 "FTP Port other than 21"
I currently have version 1.6.0.1 installed and the ability to use a FTP port number other than 21 is not available or not working.

[2018-07-09 18:20] worksofliam commented on #84
Hi! In the hostname have you tried this format?

`hostname:port`?

Thanks!
Barry

[2018-07-11 08:15] mlstoppa commented on #60
Hi all,
I am using Ileditor 1.6.0.1 and RPG conversion option is no more available.
Can I ask why? Is there a way to have it back?
Thank you
Lucia

[2018-07-11 22:46] worksofliam commented on #60
Hi @mlstoppa

It is current disabled in the latest release so I can work on improving it.

It had issues and wasn't great at converting everything. In a tool like this, it needs to be all or nothing.

Expect it available again in the future.

Thanks!
Liam

[2018-07-11 22:48] worksofliam commented on #60
As a re-write is going to happen and the current conversion is disabled; I am going to close this issue.

Thanks!
Liam

[2018-07-11 22:48] #60 closed

[2018-07-11 22:48] worksofliam commented on #83
Hi!

Yes, this was also suggested to me recently at a conference. It will come in a soon release.

Liam

[2018-07-11 22:49] #67 closed

[2018-07-12 10:52] mlstoppa opened #85 "Compiling a program results in application crash"
When compiling any fixed-style SQLRPGLE sources with CRTBNDRPG command the process finishes successfully; when I do the same on a free-style RPGLE source, which by the way is CVTRPGFREE source from SourceForge, the application crashes after creating the object on the system.
Details are:
Firma problema:
  Nome evento problema:	CLR20r3
  Firma problema 01:	ILEditor.exe
  Firma problema 02:	1.0.0.0

[2018-07-17 01:01] worksofliam commented on #80
No longer a priority until all ILE languages (C/CPP, RPG, CL & COBOL) can be supported.

[2018-07-17 01:01] worksofliam commented on #48
This has been implemented. Will be available in 1.6.1.

[2018-07-17 01:01] #48 closed

[2018-07-17 01:02] worksofliam commented on #79
Outline view not a priority until all ILE languages can be supported.

[2018-07-17 01:02] #79 closed

[2018-07-17 01:02] worksofliam commented on #83
You can now hover over a tab in 1.6.1 and see the full path to the source.

[2018-07-17 01:02] #83 closed

[2018-07-17 01:11] worksofliam commented on #85
Hi @mlstoppa

Must be something with the error listing parser.

Are you by any chance able to share some source code so I can try recreate it?

Thanks!

[2018-07-17 06:45] mlstoppa commented on #85
Hi Liam,

Yes, this is the zip file with sources inside; CVTRPGFREE RPG Ile program is the source that raises the error. To compile it (SEU, option 14) you need CVTRPGFRP1 printer file already compiled and a few instructions: I changed variables names from @varname to zvarname, and created QRPGLESRC and QRPGLESRC2  source files. To have it compiled via IlEditor the library with sources and object

[2018-07-18 14:47] sanotto opened #86 "Posible failure when Libraries names are 10 char long"
In IBMiUtils there is a convention to name temporary/work files as:

'S' + Lib and 'D'+lib

If lib is a library name of 10 chars long i.e. 'Lib4567890' the temporary files will get an eleven chars long name. That will trigger an error when creating objects.

Suggestion: Use a randon number instead of lib.
                    To aid in debuggingh you could  use CHGOBJD to save the library name in t

[2018-07-18 14:51] worksofliam commented on #86
@sanotto Thanks for the bug report!

I will make a fix either late tonight - but you're more than welcome to open a PR.

Liam

[2018-07-25 06:54] mlstoppa commented on #85
Hi Liam, sorry for the delay: I am sure I have already written this post, but for some reason, it is not here so I write it again.
Sure, I can share the source because it is open.

[CVTRPGFREE_V1_1_7.zip](https://github.com/WorksOfBarry/ILEditor/files/2226810/CVTRPGFREE_V1_1_7.zip)

Just a couple of hints to compile it: the one I can't compile is RPGLE source member named CVTRPGFREE . To have it c

[2018-07-25 06:56] mlstoppa commented on #85
Hi Liam,
Did you have the chance to take a look at it?
Thanks!
Lucia

[2018-07-25 12:11] worksofliam commented on #85
Hi @mlstoppa

I haven't looked into it yet (sorry!), but I do plan on taking a look by the end of the week.

Liam

[2018-08-02 11:33] WorksOfLiam opened #87 "Enable/disable tabs in options"

[2018-08-04 12:39] WorksOfLiam opened #88 "Possible bug when reading members?"
https://github.com/WorksOfBarry/ILEditor/blob/8e29f7ffa677d2fbd6ecceb3f4f7b3fc626af6bc/ILEditor/Classes/IBMiUtils.cs#L259

Should be `10, 20`, not `10, 10`

[2018-08-04 12:42] #88 closed

[2018-08-08 17:34] worksofliam commented on #85
Hi @mlstoppa

I am wondering if you can recreate this issue in a source file that is not as big as CVTRPGFREE. I am not able to recreate this issue.

Thanks!

[2018-08-08 17:38] worksofliam commented on #86
Hi @sanotto

I had a look through the code and it does seem like I am doing the correct substrings to make sure the object names are not more than 10 characters long. See the links below.

* https://github.com/WorksOfBarry/ILEditor/blob/master/ILEditor/Classes/IBMiUtils.cs#L95
* https://github.com/WorksOfBarry/ILEditor/blob/master/ILEditor/Classes/IBMiUtils.cs#L157

Thanks!

[2018-08-08 17:38] #86 closed

[2018-08-08 17:44] #87 closed

[2018-08-10 20:08] sanotto opened #89 "i18n issue"
![image](https://user-images.githubusercontent.com/11932376/43978942-707a04fc-9cbf-11e8-9dec-e521bb28e1bb.png)

When using accented letters (Spanish language)  ILE Editor does not encode those well.

The proposed fix in the image fixes it for my setup.  I suspect that the fix will also work in an  english setup but I can not be shure about it, so I submit this for you to evaluate.

[2018-08-11 15:56] worksofliam commented on #89
Hi @sanotto

Good find!

I am also using this encoding in the SourceEditor component:

https://github.com/WorksOfBarry/ILEditor/blob/master/ILEditor/UserTools/SourceEditor.cs#L84

I will get this fixed up and released today.

Thanks!
Liam Barry

[2018-08-11 16:05] worksofliam commented on #89
@sanotto

ILEditor 1.6.3 has been released with this fix.

Please test and re-open if there is still an issue.

Thanks!

[2018-08-11 16:05] #89 closed

[2018-08-11 16:06] #29 closed

[2018-08-11 16:06] sanotto commented on #89
I'll see to it asap!

El sáb., 11 ago. 2018 a las 13:05, Liam Barry (<notifications@github.com>)
escribió:

[2018-08-17 14:51] bdietz400 opened #90 "IFS Browser cuts off last directory/file in full screen mode"
When using the IFS browser in full screen mode, the last entry is "hidden" by the "Manage Directories button.
If I change to non-full screen I can see the last directory/file.

I do not see this behavior when using the Member or QSYS browser

[2018-08-17 16:21] worksofliam commented on #90
Hi @bdietz400

Good spot.

I can make a fix when I am at my desk in a few days, but feel free to make a PR if it's urgent.

Thanks!
Liam Barry

[2018-08-17 16:21] worksofliam commented on #85
Hi

I have had no response on this issue.

1.6.3 added something where crash dumps are made when the editor crashed. If that happens, please re-open and post the crash dump here.

Thanks!
Liam Barry

[2018-08-20 01:30] #12 closed

[2018-08-21 21:56] mehgcap opened #91 "requesting increased keyboard access and screen reader support"
I work at a company where an iSeries is the main computer. We use other servers, and I work on those, but the keys to what we do are on an iSeries, and I am unable to help maintain the system. I'm visually impaired, and rely on screen reading software to translate the print on my screen into spoken and brailled text I can read. This isn't a problem for most of the parts of my job, but it is a huge

[2018-08-22 12:47] connorholyday commented on #91
Hey Alex, this is really interesting thanks for the write up.

We're currently in the trenches building a new version of ILEditor, when it's ready would you be happy for us to get in touch about testing the screen reader support? We're looking to make things as accessible as possible so this feedback has been invaluable.

[2018-08-22 13:14] mehgcap commented on #91
Sure, I'd be happy to give it a run-through. Thanks for supporting accessibility!

[2018-08-22 22:40] connorholyday commented on #91
That's great! Would you mind popping me an email at [---]?

[2018-08-29 21:49] Maxi-Heartnet opened #92 "Remove Compile Type"
I accidentally created a Compile Type but now i want to delete it and i don't see how.
Is there a way to delete it?

[2018-09-03 20:07] worksofliam commented on #92
Hi @Maxi-Heartnet

You are correct. It does not look like there is a way to remove a compile type.

This is something that I will look into adding in the next release.

Thanks,
Liam Barry

[2018-09-06 17:23] Maxi-Heartnet commented on #92
Thanks!!!

[2018-09-16 23:01] WorksOfLiam opened #93 "Set directory as home directory"
Give an option when right clicking a directing in the IFS Listing to set that folder as the current home directory.

[2018-09-22 17:58] arun400 opened #94 "Ability to select database while connecting"
Hi,

This editor looks really good and thanks for all your work.
I am facing a problem since the editor connects to default database. It would be great if there is an option to connect to a specific database. In my case the libraries ares not in the default database and no way of making this work unless I copy them over every time.

Is there anyway we can select database as part of connection.

Th

[2018-10-02 20:20] worksofliam commented on #94
Hi @arun400

Sorry for the late reply.

I am not sure how I will achieve this right now. It's something I can look into, but no promises.

Liam Barry

[2018-10-02 20:26] WorksOfLiam opened #95 "Change default value for printerLib config"
To fix some issues with spool listings:

* Change the default value of the `printerLib` config to `*LIBL`: https://github.com/WorksOfBarry/ILEditor/blob/75320af485f7f9ed4e63c9084b44272e74dec39f/ILEditor/Classes/Config.cs#L75
* Change the default value of the `printerObj` config to the users name when the configuration is created: https://github.com/WorksOfBarry/ILEditor/blob/75320af485f7f9ed4e63c9

[2018-10-04 01:53] arun-01 commented on #94
Hi Liam,

Thanks. Really appreciate you looking into it.

Arun

[2018-10-08 18:50] #95 closed

[2018-10-08 18:50] #93 closed

[2018-10-30 10:18] WorksOfLiam opened #96 "Crash while trying to save while after connection loss"

[2018-11-06 02:36] uzaemon opened #97 "Multilingual support"
Do you have plan to support language other than English?

I'm using IBM i in DBCS (Japanese) environment.
ILEditor crushes when I list source member which have DBCS text.
I changed member text to SBCS (English) and could open the source member, but DBCS part of the source text shows [SUB]s.
Just for your information, I use CCSID 1399 for both job and source file.

Thank you for your great work!
uz

[2018-11-07 12:25] ramstein74 opened #98 "Using VS Code"
Liking your editor so far but have you considered using vs code instead of creating an editor from scratch and just adding a plugin to connect and browse iseries ??
Maybe it would cut a lot of development time reinventing what is already available...
Regards

[2018-11-07 12:57] worksofliam commented on #98
Hey @ramstein74

Yes - before ILEditor was a thing I was writing extensions for not only VSCode, but also Visual Studio.

VSCode is a great fit until it comes to working with source members and compiling remotely, which is why I just built something from the ground up to work the way I wanted.

ILEditor is over a year old now and is more stable than ever.

Thanks,
Liam Barry

[2018-11-07 12:58] worksofliam commented on #97
Hi @uzaemon

I am aware of the issue, but sadly do not have an environment to I can fix and test on.

You are more than welcome to open a PR to have a go!

Many thanks,
Liam Barry

[2018-11-09 01:13] uzaemon commented on #97
Hello Barry,

Yesterday, I installed Visual Studio for the first time in my life.
I read the source code and noticed points below.

Source member and its text are transferred/converted by FTP.
When code conversion is necessary, FTP seems to work in ASCII mode.
For non-ASCII languages such as Japanese, Chinese, Greek, etc.,
FTP client should issue "quote type C xxx" where xxx is destination CCSID.

[2018-11-11 20:17] #98 closed

[2018-11-29 12:43] WorksOfLiam opened #99 "Connection over SSH instead of FTP"
Hi

It has been brought to my attention that the implementation of SSH into ILEditor as the connection type is actually fairly straight forward. I have been able to change some parts of the editor to use SSH and it works perfectly (and faster in some cases).

There are benefits to using SSH too.

* Real support for every EBCDIC encoding. Right now, FTP limits us to ASCII unless we switch around wi

[2018-11-29 12:59] ibmi-effinsoftware commented on #99
It's absolutely the right way to go and should be the highest priority

[2018-11-29 14:18] danielgoodwin commented on #99
IMO,  You are looking at a couple of different issues.

The use of secure communication is probably a must nowadays and use of SFTP/SSH is one avenue for that.

The CCSID handling and SRCDAT are different issues but need additional base support for them to happen and you could address these subsequent to secure communications support.

Might I add the possibility of DDM into the mix as per the blo

[2018-11-29 15:42] worksofliam commented on #99
@danielgoodwin

Thanks for your response. Agreed about the use of a secure communication. I've just been taking a look at your fork and I think the use of the `IBMiTransport` interface will solve a few issues - we can then perhaps let the user choose the connection type they want to use (including your DDM implementation!). How exciting!

All I am saying is that it seems that using SFTP over FTP m

[2018-11-29 16:43] ataylorkato commented on #99
I think secure FTP is absolutely the way to go by default. However, I think deprecating FTP entirely would be a misstep. As much as it's not ideal, there's still a lot of boxes out there that I run into that FTP would be the only method available to use ILEditor.

[2018-11-30 13:32] sanotto commented on #99
I can help with  IBMi.cs and IBMiUtils.cs, if you like.I've explored the issue and found sftp and ftps lacking the foundational feature for ile Editor ..."quote rcmd" so it need to be replaced by ssh and scp the problem being the lack of "auto translation" of text files. What about ILE Editor 2 ? I've read somewhere that was going to be web based, is that true?. What are your plans with Ile Editor

[2018-11-30 13:39] worksofliam commented on #99
@sanotto Thanks for your reply!

* Auto translation (EBCDIC -> UTF8 and vice-versa) is not a problem as I have resolved that issue over SSH.
* `quote rcmd` is so useful with FTP because it all runs in the same job. You can use the `system` command over SSH, but that runs each command in a new job - so there needs to be some changes about how we handle library lists and home directories (which is a

[2018-11-30 14:30] WorksOfLiam commented on #99
@sanotto I don't want to clog up this issue with unrelated items, so shoot me an email instead and we can take it from there. (liam[at]worksofbarry[dot]com)

[2018-12-07 09:34] StephanHartmann opened #100 "Add the ability (per config) to avoid opening a source file twice"
Hi,

when I double click on a file in the member browser, the file is opened as a new editor tab.
When I double click on the same file later, it is also opened in a new editor tab.

It would be great when (as an option) the previously already opened tab will be shown instead of opening a new tab.

best regards
Stephan

[2018-12-20 19:10] Smith5646 opened #101 "Currently, saving a source member will set every record's SRCDAT value to 0"
While this is not a show stopper for my newest client because all of the code will be new and this actually saves me the step at the end of setting them all to 0, this will be a show stopper for me for my other clients with existing source that don't have good change management / archiving tools.  Many of my other clients rely heavily on the mod date because not everyone remembers to tag the chang

[2018-12-20 19:14] Smith5646 commented on #100
If possible, it would be great if this could ask if we want a new version opened (in read-only mode) or want the existing one brought back to the top.  There have been are a lot of times when working in SEU (sorry for swearing) that I opened the same member a second time in read only mode so I could see the original code and compare it to what I had now or to see something like a DS so I knew the

[2018-12-20 21:17] Smith5646 commented on #101
I just found the other SRCDAT issue so I'm closing this one and adding my comment to the other one.

[2018-12-20 21:17] #101 closed

[2018-12-20 21:18] Smith5646 commented on #53
While this is not a show stopper for my newest client because all of the code will be new and this actually saves me the step at the end of setting them all to 0, this will be a show stopper for me for my other clients with existing source that don't have good change management / archiving tools. Many of my other clients rely heavily on the mod date because not everyone remembers to tag the change

[2018-12-21 22:42] kwy2 opened #102 "Crash on loading member browser"
I opened the Member Browser window, put in my library and QRPGLESRC, hit the search icon.

The browser window says Loading...

A popup window appears that tells me ILEditor has stopped working.
![image](https://user-images.githubusercontent.com/34299243/50366044-a4a18d80-0534-11e9-8345-014df576cab0.png)

[2019-01-10 19:31] worksofliam commented on #102
Hi @kwy2 - sorry for the late reply.

Try this: https://github.com/WorksOfBarry/ILEditor/issues/73#issuecomment-378927312

Let me know if it does or doesn't help.

Many thanks,
Liam Barry

[2019-01-11 02:17] #27 closed

[2019-01-11 02:17] #8 closed

[2019-01-11 02:17] #65 closed

[2019-01-18 00:44] #102 closed

[2019-01-23 23:33] asterisk111 opened #103 "Problems with accents"
When using accented letters (French language) ILE Editor does not encode those well.

![image](https://user-images.githubusercontent.com/46979886/51644143-1e1a0a80-1f3d-11e9-8564-e257d2cf07e4.png)

![image](https://user-images.githubusercontent.com/46979886/51644199-5faab580-1f3d-11e9-8937-2bb618064671.png)

[2019-01-29 01:56] PerryRaleigh commented on #53
I will work on tackling this issue.  I like the idea of pulling the SRCDAT in along with the rest of the source member then updating the member records after it is uploaded.

[2019-02-09 12:51] mhjbuit opened #105 "ILEditor ends when opening large memberlist"
When opening a large memberlist ILEditor ends after about 20 seconds without feedback.
After starting ILEditor again and opening the same memberlist it works.
Seems like a time-out while getting the results.
I couldn't find a setting to influence this though.

[2019-02-09 17:41] worksofliam commented on #105
@mhjbuit

Thanks for opening an issue. Are you able to define a 'large memberlist' - how many are we talking?

Thanks,
Liam Barry

[2019-02-11 19:19] mhjbuit commented on #105
Liam,

Total number of members  . . . . . . . . . :              3273

I have put some more time into this.

It seems that the size of the memberlist isn’t the only reason this occurs.

This occurs only the first time per session.

If you start ILEditor again after abortion it works and keeps working also after closing ILEditor and starting it again.

Seems like something has to be started on the

[2019-02-14 09:23] mhjbuit opened #106 "Before- and After-Hook"
It would be a great enhancement if it's possible to hook up custom software (program call).
For instance:
Before Opening a member in ILEditor: Allocate member
Close member in ILEditor: Deallocate member and if changed restore Sourcechange date based on CMPPFM.

[2019-02-15 17:17] frenkmo opened #107 "SQL COBOL syntax highlighting"
I suggest to add syntax highlighting to SQLCBLLE member  (Cobol SQL)
Thanks

[2019-02-18 20:31] Kaosfury opened #108 "Silent install options"
Is there a way to do a silent install? We would like to push this and updates to some users.

[2019-02-19 01:06] worksofliam commented on #107
Is a pretty simple fix. Will get around to it soon.

[2019-02-24 20:26] worksofliam commented on #106
Sounds like a cool idea, but you will have to explain what the functionality would really do.

You just want to run commands on the Windows machine or the remote IBM i when something happens?

[2019-02-25 02:28] worksofliam commented on #107
Fixed and will be available in the next release.

3fd68c62d4a61052b4add53312d75339a01a6cf1

[2019-02-25 02:28] #107 closed

[2019-02-25 06:43] mhjbuit commented on #106
Hi Liam,

On the IBMi. Plain program call with the same parameters provided in the Compile commands and a extra User-parameter.

Before: Opening source in ILEditor (Lock source if not in use in other change and save old source version)

After: Closing source in ILEditor (Restore Changedate in Source based on CMPPFM with source saved in Before Hook)

Providing a way to integrate ILEditor in home ma

[2019-02-25 09:35] mhjbuit opened #109 "Alternative for PDM User-Defined Options"
As a workaround i'm using the Compile Options for this right now.
It would be much better if was a separate Tab for User-Defined Options.
It would be great if it was possible to use (or import) an existing Optionsfile (Setting).
It would be even nicer if it was possible to use these options for every sourcetype and to have a substitution variable for the sourcetype.

[2019-02-25 14:02] worksofliam commented on #109
I am not sure I'm following this.

Yes, the ability to import settings would be cool... although you can access the settings are they are only stored in the users `%appdata%`. Note that if you copy the settings to another persons Windows machine the password will have to be re-entered in ILEditor.

I will add `&TYPE` for source members and make an `*ANY` type which can be then used for any member.

[2019-02-25 14:02] worksofliam commented on #106
As a note, the source member is locked when it is opened already (existing functionality).

[2019-02-25 14:05] worksofliam commented on #108
Hi @Kaosfury

Silent install has been requested by a few people lately but is not yet something I can provide.

You can, however, build the application yourself using Visual Studio to create the application and then you can manually deploy the files.

[2019-02-25 14:07] ghost commented on #108
Thank you. I'm not a developer of any kind, so I cannot do that myself, but I will talk to some of our devs and see if any of them can.

Thanks for the suggestion.

[2019-02-25 14:07] #108 closed

[2019-02-25 15:00] EwellBMyne opened #110 "Adds extra lines when saving"
I copied in some source and when I saved the source, the editor inserted extra blank lines after each line. This was a straight paste into the editor- I did not touch the code before this happened.
![fr](https://user-images.githubusercontent.com/29761733/53345960-08a15300-38e4-11e9-918a-f3505b2f9f53.png)
![ft](https://user-images.githubusercontent.com/29761733/53345980-11922480-38e4-11e9-82c4-b6ee

[2019-02-25 16:16] mhjbuit opened #111 "Spool File List not working"
I receive message No spool files found while there are spoolfiles available.
In the session FTP Log the following is displayed:
[code]

[2019-02-25 17:01] worksofliam commented on #110
Try disabling the CL formatting in the settings.

Liam

[2019-02-25 17:41] mhjbuit commented on #106
I know but that’s not good enough.

When a source is modified as part of a change it should remain locked untill the complete change is implemented or canceled.

Van: Liam Barry [mailto:notifications@github.com]
Verzonden: maandag 25 februari 2019 15:03
Aan: worksofbarry/ILEditor
CC: mhjbuit; Author
Onderwerp: Re: [worksofbarry/ILEditor] Before- and After-Hook (#106)

As a note, the source member

[2019-02-25 17:54] EwellBMyne commented on #110
I did so as suggested. The behaviour remained the same. (CTL-ALT-X) I don't see a status indicator to know if it did anything or not.

[2019-03-27 21:08] SaschaS93 opened #112 "At least V7R1 is required"
Unfortunately at least V7R1 is required.

DLTOBJ doesn't work on older releases.

[2019-03-28 13:00] worksofliam commented on #112
This is a non-issue.

It would be cool if you could submit a PR to update the readme with this information!

Thanks,
Liam

[2019-03-28 13:00] #112 closed

[2019-04-02 15:08] EwellBMyne commented on #110
Using the new update, the above behavior remains, but when CL Formatting is turned off, it seems to be okay.

[2019-04-03 21:03] EwellBMyne commented on #111
I have the same issue with the newest version. I did not have a problem before the upgrade.

[2019-05-06 21:08] rohithsharma84 opened #114 "CL syntax highlighting confused with /*ALL"
When the syntax highlighter comes across a '/' followed by a special value (such as *ALL, *LIBL, etc), it thinks it is the start of a new comment block. Attached a screenshot showing the issue.
Running ILEditor 1.6.8.0

![2019-05-06_17-05-26](https://user-images.githubusercontent.com/50342004/57255259-555e8400-7021-11e9-9d64-e2ca4c965606.png)

[2019-06-01 15:41] Cobolsaur opened #115 "ILEditor crashes while try to connect"

[2019-06-21 06:01] andreasbisiach opened #116 "ILEditor ClickOnce application won't start in certain situation"
Hello,

I have a customer environment where suddenly ILEditor won't launch anymore.

After posting a couple of threads her:
 [https://social.msdn.microsoft.com/Forums/windows/en-US/01f43af7-baec-49b0-8583-a13be6798b1d/clickonce-application-does-not-start-from-from-desktop-shortcut-but-start-from-a-command-line?forum=Offtopic](url)
and her:

[https://social.technet.microsoft.com/Forums/windows/en-U

[2019-07-31 10:29] prsbrc opened #117 "QSYS Browser remove entry"
Hi. I have a question:
How can i remove a entry from the qsys browser?
thx und greets

[2019-08-07 16:11] Krishrt commented on #67
Hi  @worksofliam #67 The ticked part which referring to pointing JAR files instead of EXE is still out there.

- [ ] ![Applications-exe](https://user-images.githubusercontent.com/36916414/62638837-ee23d900-b95b-11e9-81a3-bdf0b30f2be9.PNG)

![FindACS](https://user-images.githubusercontent.com/36916414/62638862-f8de6e00-b95b-11e9-82de-32e3272837d5.PNG)

[2019-08-09 15:07] Krishrt opened #118 "ACS path still referring to .Exe"
Please refer to comment in closed issue  @worksofliam #67

Thanks,
Krishna

[2019-08-23 19:20] SteveIreland commented on #116
I cannot install ILEditor for the same reason.  Hopefully this apparently simple problem will be addressed soon .... hopefully?

[2019-08-26 17:54] worksofliam commented on #116
Hi.. sorry I haven't got this issue.

I can see if I can take a look this weekend. I don't have access to the machine which does the deployments at the moment but I will see if I can schedule some time to do it.

Thanks.

[2019-09-24 13:24] SteveIreland commented on #116
I gave it another try and was able to successfully install ILEditor.  the setup.exe file appears to be working now.  I'm looking forward to spending some quality time with this tool.

 Thanks.

[2019-10-02 17:27] worksofliam commented on #117
I believe you can use the delete key? It's been a while.

[2019-10-07 13:37] prsbrc commented on #117
No sorry, the delete key is not working :-(

[2019-10-14 14:38] prsbrc commented on #117
It works on subentries like QRPGLESRC.
When every subentry is deleted the mainentry will be removed on next start so it will works :-)

[2019-10-14 14:38] #117 closed

[2019-10-14 14:39] worksofliam commented on #117
Ahh! I knew it worked somewhere :)

Thanks!

[2019-11-05 17:28] karlxfritz opened #119 "V7.4 Member browsing don't work"
On 7.4 OSi I got the message "no members found" while member browsing. On 7.1  it's ok.
ILEditor 1.6.8

[2019-11-14 12:52] tooq2bstr8 opened #120 "Browser-Tollboxes don#t work"
Hi,
I downloaded your setup.exe form your website ans installed the ILEditor on my Windows-Server 2016 Datacenter virtual machine.
I created a Host und connected sucessfully.

But I have problems with your Member-Browser, the QSYS-Browser and the IFS-Browser.
The Member- and QSYS-Browser delivers always empty lists.
The IFS-Browser causes a crash of the program.

My User on the IBMi has enough rig

[2019-11-15 15:46] scoutmastershake opened #121 "SEU Line Change Dates"
Saving blanks the source line change dates from the source to all zeros. This needs to be fixed so we can see what lines were changed on what dates.
![image](https://user-images.githubusercontent.com/11821238/68955974-bdd6ac80-078c-11ea-97c4-3107170d9ea8.png)

[2019-11-19 07:53] tooq2bstr8 commented on #120
Hi!
I got it:
For my problem I have to use in the connection setting for FTP the Data Connection Type = PASV.
All Browsers (Member, QSYS and IFS) are working now.

Greetings
Volker

[2019-11-19 07:56] tooq2bstr8 commented on #119
Hi karlxfritz,

I had the same problem.
For me following setting works:
Try to change in ILEditor in you connections setting of your IBMi the FTP Data Connection Tye to PASV.

Best regards
Volker

[2019-11-19 08:48] LOGIC-stack commented on #119
Thanks, works now.

[2019-11-19 08:52] karlxfritz commented on #119
Thanks, works now.

[2019-11-19 14:02] #119 closed

[2019-12-06 11:02] Faq400Git opened #122 "Problem opening member with some strange char (§ or £) (Charset 280 - Italy)"
Hi all,
showing ILEditor to one of my customers we found some members with strange char like

TEST§
or
TEST£

and they won't open n double click showing a popup message UNABLE TO DOWNLOAD MEMBER...

![image](https://user-images.githubusercontent.com/7585086/70318251-eac42f80-181f-11ea-9d4e-d26f92020104.png)

Yes we know that it's not a good idea using those names ...

Thanks

[2020-02-08 17:40] richbelcher opened #123 "Unable to connet to xxx.xxx.xxx.xxx"
Liam,

  I just changed ISP's and updated the ip address in ileditor, then when I try to open again and select host I am getting ---------------------------
Cannot Connect
---------------------------
Unable to connect to 192.168.0.11 - Timed out trying to read data from the socket stream!
---------------------------
OK
---------------------------

Is there an easy solution for this?

Thanks

[2020-06-02 21:36] volmcat commented on #99
@worksofliam have you given this any more thought? or have any of the forks been able to get SSH/SFTP functional working? Would love to see this feature implemented.

[2020-08-17 14:30] ethanjosephscott commented on #53
Hey gang,

Was doing some reading and thought of this issue when stumbling upon something.  Apparently there is a python module for converting EDCDIC TO ASCII.  I am wondering if this would make solving this issue easier.

https://pypi.org/project/ebcdic/

Thank You

[2020-09-02 15:34] cdavis613 opened #124 "Font Size in Tabbed Windows decreases when Source Editor is opened"
When initially opening ILEditor, all of the initial tabbed windows (Toolbox, Member  Browser, etc.) are displayed in a nice sized font that is easy to work with. The following .png image is an example of some tabbed windows with the larger font:

![image](https://user-images.githubusercontent.com/53268228/92003273-d52c5980-ed0e-11ea-9299-70ee6fa47920.png)

The issue is that when I open a Source me